language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev
  - "pypy"
# command to install dependencies
install: 
  - sudo apt-get update -qq
  - sudo apt-get install python
# command to run tests
  - python hola.py build_ext -i
  - python -m compileall -f .
  - python hola.py test
